.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://picsum.photos/1500/1500");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  width: 250px;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.registerButton {
  margin-top: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  width: 270px;
  height: 35px;
}

.loginAria {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.loginAria > p {
  font-weight: bold;
}
.registerLoginButton {
  background-color: coral;
  color: white;
  cursor: pointer;
  border: none;
  padding: 3px 4px;
  border-radius: 10px;
  margin-left: 5px;
}
.registerLoginButton:hover {
  background-color: coral;
  color: #000;
  transition: 1s all;
}
